<div class="header">
  <div class="header__menu">
    <div class="header__menu__btn">
      <a (click)="toggleMenu()">
        <span *ngIf="showBtn" [@enter] (@enter.done)="enterShowDone($event)" [@leave]
              (@leave.done)="leaveShowDone($event)" class="material-icons">menu</span>
        <span *ngIf="closeBtn" [@enter] (@enter.done)="enterCloseDone($event)" [@leave]
              (@leave.done)="leaveCloseDone($event)" class="material-icons">close</span>
      </a>
    </div>
  </div>
  <div class="header__logo">
    <div class="header__logo__text"><a href="#">BOGAL</a></div>
  </div>
  <!--<div class="header__second">
    <a href="">menu 1</a>
    <a href="">menu 2</a>
  </div>-->
</div>
