<nav class="header" id="header" [class.header--dark]="showMenu">
  <div class="header__menu">
    <div class="header__menu__btn">
      <a (click)="toggleMenu()">
        <span *ngIf="showBtn" [@enter] (@enter.done)="enterShowDone($event)" [@leave]
              (@leave.done)="leaveShowDone($event)" class="material-icons">menu</span>
        <span *ngIf="closeBtn" [@enter] (@enter.done)="enterCloseDone($event)" [@leave]
              (@leave.done)="leaveCloseDone($event)" class="material-icons">close</span>
      </a>
    </div>
  </div>
  <div class="header__logo header--dark__logo ">
    <a href="/">BOGAL</a>
  </div>
  <div class="header__lang">
    <ul class="list-inline header__lang__group header__lang__group-big">
      <li *ngIf="currentLang === en" class="list-inline-item"><a (click)="toggleLang('fr')">Francais</a></li>
      <li *ngIf="currentLang === fr" class="list-inline-item"><a (click)="toggleLang('en')">English</a></li>
    </ul>
    <ul class="list-inline header__lang__group header__lang__group-small">
      <li *ngIf="currentLang === en" class="list-inline-item"><a (click)="toggleLang('fr')">Fr</a></li>
      <li *ngIf="currentLang === fr" class="list-inline-item"><a (click)="toggleLang('en')">En</a></li>
    </ul>
  </div>
</nav>
