<nav class="header" id="header" [class.header--dark]="showMenu">
  <div class="header__menu">
    <div class="header__menu__btn">
      <a (click)="toggleMenu()">
        <span *ngIf="showBtn" [@enter] (@enter.done)="enterShowDone($event)" [@leave]
              (@leave.done)="leaveShowDone($event)" class="material-icons">menu</span>
        <span *ngIf="closeBtn" [@enter] (@enter.done)="enterCloseDone($event)" [@leave]
              (@leave.done)="leaveCloseDone($event)" class="material-icons">close</span>
      </a>
    </div>
  </div>
  <div class="header__logo header--dark__logo ">
    <a href="/">BOGAL</a>
  </div>
</nav>
