.container {
  min-height: 85vh;

  &__header {
    background: url("../../../assets/images/bg_white_transparent.png");
    position: absolute;
    width: 100%;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__body {
    min-height: inherit;
  }
}
