@import '../../../../styles';

.home {

  section {
    margin-bottom: 70px;
    min-height: 500px;

    div[class*="__header"] {
      text-align: center;
      margin-bottom: 50px;

      h2 {
        font-size: 2em;
        color: mat-color($bogal-primary, 800);
      }
    }
  }

  &__blanc {
    background: url("../../../../assets/images/bogal_fond_blanc.png") no-repeat;
    width: 100%;
    height: 187px;
    position: relative;
    top: -187px;
    background-size: 100%;
  }

  &__presentation {
    min-height: 100vh !important;
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    background: url("../../../../assets/images/bogal_home_about.png") no-repeat rgba(46, 125, 50, .5);
    background-size: 100%;
    margin-bottom: 0 !important;

    &__container>div {
      display: flex;
    }

    &__container {
      &__text {
        padding: 0;
        width: 40%;

        h1, h2 { margin: 0; }

        h1 {
          font-size: 10em;
          color: mat-color($bogal-primary, 800);
        }

        h2 {
          font-size: 2em;
          position: relative;
          bottom: 45px;
          color: var(--bs-white);
          background-color: var(--bs-dark);
          width: 100%;
          padding-left: 10px;
        }

        p {
          font-size: 1.5em;
          background-color: rgba(0, 0, 0, .2);
          color: white;
          display: inline-block;
          padding: 0 10px;

          span {
            font-weight: bold;
            color: var(--bs-white);
          }
        }
      }

      /*&__img {
        &__wrapper {
          display: flex;
          flex-flow: wrap;

          img { width: 50%; }
        }
      }*/
    }
  }

  /*&__about {
    &__body {
      display: flex;
      justify-content: center;

      &__container {
        display: flex;
        justify-content: center;
        width: 70%;
        //background-color: mat-color($bogal-primary, 50);

        &__text {
          width: 60%;
          padding-left: 30px;
        }
        //&__img img { width: 100%; }
      }
    }
  }*/

  &__values {
    background-color: mat-color($bogal-primary, 50);
    padding: 30px 0;

    &__body {
      //display: flex;
      //flex-wrap: wrap;
      //justify-content: center;
      text-align: center;

      h4 {
        font-weight: normal;
        margin: 0;
        font-size: 1.2em;
      }
    }
  }

  &__services {
    min-height: 600px;

    &__body {
      &__service {
        text-align: center;

        h3 { font-size: 1.2em; }

        div { img { width: 100%; } }
        div:nth-child(3) {
          ul {
            list-style: none;

            li {
              border-bottom: 1px solid #eaeaea;
              padding: 10px 0;
            }

            li:nth-child(even) { background-color: mat-color($bogal-primary, 50); }
          }
        }
      }
    }
  }

  &__customer {
    &__body {
      text-align: center;

      &__mobile { display: none; }

      &__desktop {
        display: inline-block;

        ul {
          li {
            width: 12%;

            img { width: 100%; }
          }
        }
      }

    }
  }

  &__contact {
    background-color: mat-color($bogal-primary, 50);
    //background: url("../../../../assets/images/bogal_map_mtl.jpeg") no-repeat;
    padding: 20px 0;
    margin-bottom: 0px !important;

    &__body {
      &__infos { padding: 10px; }
      &__form {
        background-color: var(--bs-white);
        padding: 10px;
        border: 1px solid #eaeaea;

        .form-control { background-color: #f4f6f7; }
        .form-control:focus { background-color: var(--bs-white); }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .home {
    font-size: .8em;

    &__presentation {
      padding-top: 25%;
      padding-left: 10px;
      margin-bottom: 0 !important;
      background-color: mat-color($bogal-primary, 50);
      min-height: 50vh !important;
      background-size: 183%;

      &__container>div {
        display: block;
      }

      &__container {
        &__text {
          padding: 0px;
          width: 100%;

          h1 { font-size: 5em; }
          h2 {
            font-size: 1.5em;
            bottom: 21px;
          }
          p {
            font-size: 1.2em;
            width: 100%;
            span {
              display: inline-block;
              color: var(--bs-white);
            }
          }
        }
      }
    }

    &__blanc {
      height: 45px;
      top: -43px;
    }

    &__about {
      &__header { margin-bottom: 0; }

      &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__container {
          display: flex;
          flex-flow: column wrap;

          &__text { width: 100%; }
        }
      }
    }

    &__customer {
      &__body {
        &__mobile {
          display: inline-block;

          ul {
            width: 50%;
            margin-left: 25%;

            li { img { width: 100%; } }
          }
        }

        &__desktop { display: none; }
      }
    }
  }
}
