<div class="home">
  <section class="home__presentation">
    <div class="home__presentation__text">
      <h1 data-aos="fade-up">BOGAL</h1>
      <h2>Consulting Inc.</h2>
      <p data-aos="fade-up" data-aos-delay="400">
        Nous aidons les entreprises à définir leur présence sur le web et à mettre sur pied des logiciels sur mesure.
      </p>
    </div>
    <div class="home__presentation__img">
      <div class="home__presentation__img__wrapper">
        <img src="../../../../assets/images/bogal_conception.svg" alt="">
        <img src="../../../../assets/images/bogal_team_work.svg" alt="">
        <img src="../../../../assets/images/bogal_designer.svg" alt="">
        <img src="../../../../assets/images/bogal_app.svg" alt="">
      </div>
    </div>
  </section>

</div>
