<div class="home">
  <section class="home__presentation">
    <div class="home__presentation__container">
      <div>
        <div class="home__presentation__container__text">
          <h1>BOGAL</h1>
          <h2>Consulting Inc.</h2>
          <p>
            Nous aidons les entreprises à définir leur présence sur le
            web et à mettre sur pied des logiciels sur mesure.
          </p>
        </div>
        <div class="home__presentation__container__img">
          <div class="home__presentation__container__img__wrapper">
            <img src="../../../../assets/images/bogal_spec.svg" alt="">
            <img src="../../../../assets/images/bogal_conception.svg" alt="">
            <img src="../../../../assets/images/bogal_team_code.svg" alt="">
            <img src="../../../../assets/images/bogal_app.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="home__about">
    <div class="home__about__header">
      <h2>Qui sommes-nous?</h2>
    </div>

    <div class="home__about__body">
      <div class="home__about__body__container">
        <div class="w-100 home__about__body__container__text">
          Et quoniam mirari posse quosdam peregrinos existimo haec lecturos forsitan, si contigerit, quamobrem cum
          oratio ad ea monstranda deflexerit quae Romae gererentur, nihil praeter seditiones narratur et tabernas et
          vilitates harum similis alias, summatim causas perstringam nusquam a veritate sponte propria digressurus.
        </div>
        <div class="home__about__body__container__img">
          <img src="assets/images/bogal_home_about.jpg" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="home__values">
    <div class="home__values__header">
      <h2>Nos valeurs</h2>
      <div>Nous gardons en tête nos objectifs afin de s'assurer d'offrir à nos clients un qualité de service irréprochable et professionel.</div>
    </div>

    <div class="home__values__body">
      <div>
        <h3>Rester à jour sur les nouvelles techniques de travail et technologie</h3>
      </div>
      <div>
        <h3>Un accent sur la qualité</h3>
      </div>
      <div>
        <h3>Assurer la satisfaction de nos clients</h3>
      </div>
    </div>
  </section>

  <section class="home__services">
    <div class="container">
      <div class="home__services__header">
        <h2>Services</h2>
        <div>Nous proposons une multitude de services pour pouvoir répondre au mieux à vos besoins en logiciels.</div>
      </div>
      <div class="home__services__body">
        <div class="home__services__body__service">
          <div><img src="../../../../assets/images/bogal_spec.svg" alt=""></div>
          <div><h3>Consultation</h3></div>
          <div>
            <ul>
              <li>Analyse de besoins</li>
              <li>Gestion de projets</li>
              <li>Gestion SCRUM</li>
              <li>Rétro-ingénieurie</li>
            </ul>
          </div>
        </div>
        <div class="home__services__body__service">
          <div><img src="../../../../assets/images/bogal_spec.svg" alt=""></div>
          <div><h3>Développement personnalisé</h3></div>
          <div>
            <ul>
              <li>API Restful</li>
              <li>Application mobile</li>
            </ul>
          </div>
        </div>
        <div class="home__services__body__service">
          <div><img src="../../../../assets/images/bogal_spec.svg" alt=""></div>
          <div><h3>Web Design</h3></div>
          <div>
            <ul>
              <li>UX/UI</li>
              <li>Site web</li>
              <li>Wordpress</li>
            </ul>
          </div>
        </div>
        <div class="home__services__body__service">
          <div><img src="../../../../assets/images/bogal_spec.svg" alt=""></div>
          <div><h3>Graphic Design</h3></div>
          <div>
            <ul>
              <li>Identité visuelle</li>
              <li>Logo</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="home__customers">

  </section>

</div>
