<div class="home">
  <section class="home__presentation">
    <div class="home__presentation__text">
      <h1>BOGAL</h1>
      <h2>Consulting Inc.</h2>
      <p>
        Nous aidons les entreprises à définir leur présence sur le web et à mettre sur pied des logiciels sur mesure.
      </p>
    </div>
    <div class="home__presentation__img">
      <div class="home__presentation__img__wrapper">
        <img src="../../../../assets/images/bogal_spec.svg" alt="">
        <img src="../../../../assets/images/bogal_conception.svg" alt="">
        <img src="../../../../assets/images/bogal_team_code.svg" alt="">
        <img src="../../../../assets/images/bogal_app.svg" alt="">
      </div>
    </div>
  </section>

</div>
