<div class="buildin">
  <div class="buildin__title">
    <div class="buildin__title">
      <h1><span class="buildin__title__green">B</span>OGAL</h1>
      <h3 class="buildin__title__green">Consulting Inc.</h3>
    </div>
    <br>

  </div>

  <div class="buildin__body">
    <div class="buildin__body__services">
      <h4><u>Nos services</u></h4>
      <ul>
        <li>Développement logiciel/application web</li>
        <li>Gestion de projet TI</li>
        <li>Design numérique</li>
      </ul>
    </div>

    <div class="buildin__body__contact">
      <h4><u>Contactez-nous</u></h4>
      <dl>
        <dt><b>Tel:</b></dt>
        <dd>514-431-9459</dd>
        <dt><b>Email:</b></dt>
        <dd>support@bogal.ca</dd>
      </dl>
    </div>

    <div class="buildin__body__message">
      <div>
        Coming <br> <span class="buildin__body__green">soon</span> <br>
        Bientôt <br> <span class="buildin__body__green">disponible</span>
      </div>
    </div>
  </div>
</div>
