<div class="buildin">
  <div class="buildin__title">
    <div class="buildin__bloc1__title">
      <h1><span class="buildin__bloc1__title__green">B</span>OGAL</h1>
      <h3 class="buildin__bloc1__title__green">Consulting Inc.</h3>
    </div>
    <br>
    <div class="buildin__bloc2">
      <h4><u>Contactez-nous</u></h4>
      <dl>
        <dt><b>Tel:</b></dt>
        <dd>514-431-9459</dd>
        <dt><b>Email:</b></dt>
        <dd>bogal.consulting@gmail.com</dd>
      </dl>
    </div>
  </div>
  <div class="buildin__body">
    <div class="buildin__body__message">
      Coming <br> <span class="buildin__body__green">soon</span> <br>
      Bientôt <br> <span class="buildin__body__green">disponible</span>
    </div>
  </div>
</div>
