<div class="d-flex align-items-center slidernav">
<!--  <a href="/">fermer</a>-->
  <div class="slidernav__body">
    <ul>
      <li><a class="btn" (click)="closeMenu()" href="#home">
        <svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>{{'site.header.menu.home' | translate}}</a></li>
      <li><a class="btn" (click)="closeMenu()" href="#about">
        <svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>{{'site.header.menu.about' | translate}}
      </a></li>
      <li><a class="btn" (click)="closeMenu()" href="#values">
        <svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>{{'site.header.menu.values' | translate}}
      </a></li>
      <li><a class="btn" (click)="closeMenu()" href="#service">
        <svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>{{'site.header.menu.services' | translate}}
      </a></li>
      <li><a class="btn" (click)="closeMenu()" href="#contact">
        <svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>{{'site.header.menu.contact' | translate}}</a>
      </li>
    </ul>
  </div>
<!--  <div class="slidernav__footer"></div>-->
</div>
