.slidernav {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  z-index: 1;
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255,255,255); /* Fallback color */
  background-color: rgba(255,255,255,0.8); /* Black w/ opacity */

  &__body {
    text-align: center;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        width: inherit;

        a {
          width: 100%;
          padding: 20px 0;
          display: inline-block;
          font-size: 1.5em;
        }
      }
    }
  }
}
